# Archivos
SEPE_Python_Avanzado_PUE/Tema 1 - PCEP/Image20240415091126.png
SEPE_Python_Avanzado_PUE/Tema 1 - PCEP/Image20240415091123.png

# Directorios
EstudiosdeIA/
Ideas/
Nanfor/
MoureDev by Brais Moure/Python desde 0 - Python Intermedio
MoureDev by Brais Moure/Backend desde 0 - Python Avanzado

# Archivos con ciertas extensiones a ignorar
*.exe
*.mkv
*.docx
*.odt
*.pdf
