# Lista de Archivos
SEPE_Python_Avanzado_PUE/Tema 1 - PCEP/Image20240415091126.png
SEPE_Python_Avanzado_PUE/Tema 1 - PCEP/Image20240415091123.png
SEPE_Python_Avanzado_PUE/Tema 2 - PCAP/Ejemplo2x_Modulos/pyvenv.cfg
Investigaciones/Frameworks_y_Librerias_Externas/pyvenv.cfg
SEPE_Python_Avanzado_PUE/Tema 3 - PCPP1/*.zip

# Lista de Directorios
.idea
EstudiosdeIA/
Ideas/
Nanfor/
MoureDev by Brais Moure/Python desde 0 - Python Intermedio
MoureDev by Brais Moure/Backend desde 0 - Python Avanzado
SEPE_Python_Avanzado_PUE/Tema 2 - PCAP/Ejemplo20_Modulo_Pandas/.ipynb_checkpoints
SEPE_Python_Avanzado_PUE/Tema 2 - PCAP/Ejemplo20_Modulo_Pandas/etc
SEPE_Python_Avanzado_PUE/Tema 2 - PCAP/Ejemplo20_Modulo_Pandas/Lib
SEPE_Python_Avanzado_PUE/Tema 2 - PCAP/Ejemplo20_Modulo_Pandas/Include
SEPE_Python_Avanzado_PUE/Tema 2 - PCAP/Ejemplo20_Modulo_Pandas/Scripts
SEPE_Python_Avanzado_PUE/Tema 2 - PCAP/Ejemplo20_Modulo_Pandas/share
SEPE_Python_Avanzado_PUE/Tema 2 - PCAP/Ejemplo20_Modulo_Pandas/Documentos/.ipynb_checkpoints
Investigaciones/Frameworks_y_Librerias_Externas/share
Investigaciones/Frameworks_y_Librerias_Externas/Include
Investigaciones/Frameworks_y_Librerias_Externas/Lib
Investigaciones/Frameworks_y_Librerias_Externas/Scripts
Investigaciones/Frameworks_y_Librerias_Externas/etc
Investigaciones
EjerciciosGoodJob/Documentos Jupyter/Edicion

# Lista de extensiones
*.exe
*.mkv
*.docx
*.odt
*.pdf
*.sh