# Lista de Archivos
SEPE_Python_Avanzado_PUE/Tema 1 - PCEP/Image20240415091126.png
SEPE_Python_Avanzado_PUE/Tema 1 - PCEP/Image20240415091123.png
SEPE_Python_Avanzado_PUE/Tema 3 - PCPP1/Herramientas/*.zip
SEPE_Python_Avanzado_PUE/*/*.pdf
SEPE_Python_Avanzado_PUE/*.pdf
MoureDev by Brais Moure/*/*/*.pdf

# Lista de Directorios
.idea
EstudiosdeIA/docs
Ideas/
Nanfor/
MoureDev by Brais Moure/Python desde 0 - Python Intermedio
MoureDev by Brais Moure/Backend desde 0 - Python Avanzado
SEPE_Python_Avanzado_PUE/Tema 2 - PCAP/Ejemplo*/.ipynb_checkpoints
SEPE_Python_Avanzado_PUE/Tema 2 - PCAP/Ejemplo*/etc
SEPE_Python_Avanzado_PUE/Tema 2 - PCAP/Ejemplo*/Lib
SEPE_Python_Avanzado_PUE/Tema 2 - PCAP/Ejemplo*/Include
SEPE_Python_Avanzado_PUE/Tema 2 - PCAP/Ejemplo*/Scripts
SEPE_Python_Avanzado_PUE/Tema 2 - PCAP/Ejemplo*/share
SEPE_Python_Avanzado_PUE/Tema 2 - PCAP/Ejemplo*/Documentos/.ipynb_checkpoints
Investigaciones/Frameworks_y_Librerias_Externas/share
Investigaciones/Frameworks_y_Librerias_Externas/Include
Investigaciones/Frameworks_y_Librerias_Externas/Lib
Investigaciones/Frameworks_y_Librerias_Externas/Scripts
Investigaciones/Frameworks_y_Librerias_Externas/etc
Investigaciones
EjerciciosGoodJob/Documentos Jupyter/Edicion
SEPE_Python_Avanzado_PUE/Tema 3 - PCPP1/Ejemplo2*/Scripts
SEPE_Python_Avanzado_PUE/Tema 3 - PCPP1/Ejemplo2*/Lib
SEPE_Python_Avanzado_PUE/Tema 3 - PCPP1/Ejemplo2*/Include


# Lista de extensiones
*.exe
*.mkv
*.docx
*.odt
*.sh
*.cfg
*.msi